section{
    margin-top: 40px;
}
.cabecalho{
    width: 100%;
    height: 50px;
    background-color: rgb(185, 126, 54);
}
.logo{
    text-indent: 20px;
}
.titulo{
    margin-block: 20px;
    font-size: 2.4rem;
    width: 100%;
    text-align: center;
    color: rgb(185, 126, 54);
}
.products{
    order: 1;
}
.products__card{
    width: 320px;
    height: 400px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(202, 147, 81);
}
.products__card__img{
    border-radius: 5px;
    margin-top: 10px;
    width: 200px;
    height: 290px;
}
.products__card__nome{
    font-size: 1rem;
    color: #fff;
    text-align: center;
    max-width: 95%;

}
.products__base{
    width: 100%;
    background-color: none;
}
.products__base__preco{
    margin: 15px;
    color: #fff;
    font-size: 1.4rem;
}
[data-icone]{
    width: 30px;
    margin: 15px;
    cursor: pointer;
}
.addProduct{
    background-color: none;
    order: 0;
}
.addProduct__form{
    width: 360px;
    margin-top: 20px;    
}
.msgErro{
    color: red;
    font-weight: bold;
    font-family: monospace;
    font-size: 1.2;
}
.botoes{
    width: 290px;
}
.btn{
    width: 140px;
    padding: 10px;
    background-color: rgb(185, 126, 54);
    border: 2px solid rgb(185, 126, 54);
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}
.btn:hover{
    scale: 1.05;
    transition: 0.2s;
}
.btn2{
    border: 2px solid rgb(185, 126, 54);
    background-color: rgba(0, 0, 0, 0);
    color: rgb(185, 126, 54);
}
.campo{
    width: 260px;
    padding: 15px;
    border-radius: 5px;
    border: 2px solid rgb(185, 126, 54);
}
.rodape{
    width: 100%;
    height: 60px;
    background-color: rgb(255, 190, 111);
    margin-top: 40px;
    font-size: 0.8rem;
    color: rgb(109, 63, 7);
}

